*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



@media only screen and (min-width:360px) and (max-width: 768px){
    body{
        font-family: 'Michroma', sans-serif;
        font-size: 14px;
    
    }
    
    
    .header{
        
        width: 100%;
        background-color: black;
        position: fixed;
        z-index: 1;
       
    }
    
    
    
    .header ul{
        margin: 0;
        padding: 0;
      list-style: none;
      overflow: hidden;
      background-color: black;
    }
    
    .header ul a{
        display: block;
        text-decoration: none;
        padding: 20px;
        font-size: 14px;
        color: #ede7dd;
    }
    
    .header ul a:hover{
        background-color: #181818;
        
    }
    
    .header ul a:active{
        
        font-weight: bold;
        
    }
    
    .header ul a:visited{
       color: #0F5959;
    }
    
    

    .logo {
        float: left;
        width: 40%;
        padding: 5px;
    }

    .header .logo img{
        width: 30%;
    }
    
    .menu{
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
    }
    
    .menu-icon{
        
        padding: 28px 20px;
        position:relative;
        float: right;
        cursor: pointer;
    }
    
     .header .menu-icon .nav-icon{
        background-color: white;
        display: block;
        width: 18px;
        height: 2px;
        position: relative;
        transition: background-color .2s ease-out;
    }
    
    
    .header .menu-icon .nav-icon::before,
    .header .menu-icon .nav-icon::after {
        background-color: white;
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        transition: all .2s ease-out;
        position: absolute;
       
        }
    
    .header .menu-icon .nav-icon::before{
            top:5px;
        }
    
    .header .menu-icon .nav-icon::after{
            top:-5px;
        }
    
    .header .menu-btn{
        display: none;
    }
        
    
      .header .menu-btn:checked ~ .menu{
        max-height: 240px;
        
      }  
    
      .header .menu-btn:checked ~ .menu-icon .nav-icon{
        background-color: transparent;
      }
    
      .header .menu-btn:checked ~ .menu-icon .nav-icon::before{
        transform: rotate(-45deg);
        top: 0;
       
      }
    
      .header .menu-btn:checked ~ .menu-icon .nav-icon::after{
        transform: rotate(45deg);
        top: 0;
       
      }
    
      
    
    .content{
        
        background-color: #ede7dd;
        position: relative;
        top: 70px;
        padding-bottom: 30px;
    
    }
    
    .wrapper{
       
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        padding: 20px;
        background-color:  rgba(15, 89, 89, 0.8);
        margin-bottom: 20px;
        
    }

   .bio h1, .bio h2{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
   }

    .bio p{
        text-align: center;
        color: #ede7dd;
        padding: 10px;
        line-height: 2;
        margin-top: 10px;

    }

   
    
    .first{
        margin-bottom: 20px;
        
        
    }
    .content .wrapper .first img {
        border-radius: 50px;
        width: 80%;
    }
    
    .cv {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 40px;
       
        
    }

    .cv-h2, .skills-h2, .year, .name{
        display: flex;
        justify-content: center;
        margin-top: 10px;
        color: black;
        font-family: "Montserrat" , sans-serif;
        font-size: 14px;
        font-weight: bold;
        
        
    }

    .cv-h2, .skills-h2, .name{
        border-bottom: 2px solid #0F5959;
        margin: auto;
        width: 50%;
        
        
    }

    .cv-h2, .skills-h2, .name, .year {
        
        white-space: nowrap;
        
    }

    
    
    
    
    .skills{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 40px;   
    }
    
    
    .section-1, .section-2, .section-3, .section-4, .section-5{
    
        border-radius: 50px;
        width: 80%;
        height: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        background-color: #8edbc1;
        
    }
    
    .section-1, .section-2, .section-3, .section-4, .section-5 p{
        padding: 20px;
    
    }
    
    
    
    
    .html, .css{
        
        border-radius: 10px;
        padding: 10px;
        color: black;
        text-align: center;
        background-color: #8edbc1;
        width: 30%;
        margin-bottom: 5px;
    }
    

    

  .project{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    
    margin: 10px 20px;
    padding: 10px;
    
}
  
  
   .item-1{
    
    border-radius: 20px;
    width: 30%;
    background-color: white;
    margin-bottom: 10px;
    
    
    
    
   }


   .item-1 img{
    width: 100%;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    
   }

   .item-2{
    
    margin-left: 20px;
    width: 60%;
   
    
   }

   .item-2 h3{
    font-family: "Montserrat", sans-serif;
   }

  

  

   .contactPage{
    background-color: white;
    position: relative;
    top: 72px;
   }

   .contactSection{
    border-bottom: 2px solid #0F5959;
    margin: auto;
    width: 70%;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
   }

   .formWrapper{
    
    margin-top: 10px;
    padding: 20px 30px;
   }


    form{
    display: flex;
    flex-direction: column;
    width: 100%;
    
   }

   label{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 1em;
   }

   input[type=text],textarea{
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    outline: none;
    padding: 10px;
    border: 1px solid #181818;
   }

   input[type=text]:focus,
   textarea:focus{
    background-color: #ede7dd;
   }

   input{
    height: 3em;
   }


   textarea{
    resize:none;
    height: 10em ;
   }

   input[type=submit]{
    width: 15em;
    height: 5em;
    background-color: #0F5959;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 1em;
    text-decoration: none;
    margin-top: 10px;
    cursor: pointer;
   }

   input[type=submit]:active{
    background-color: #8edbc1;
    font-weight: bold;
   }


   footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 20em;
    padding-top: 30px;
    margin-top:71px;
   
    
    
}

.footer-section{
   
    display: flex;
    flex-direction: column;
    
}

footer .footer-section a{
    color: white;
    text-decoration:  none;
    margin-bottom: 10px;
}

footer .footer-section a:active{
    color:#0F5959
}

    
}

@media only screen and (min-width: 769px){

    

    body{
        font-family: 'Michroma', sans-serif;
        font-size: 14px;
    }

    .header{
        
        width: 100%;
        background-color:black;
        position: fixed;
        z-index: 1;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        
        
       
    }

    .logo{
        width: 30%;
        float: left;
        padding: 5px;
    }

    .header .logo img{
        width: 20%;
    }

    .header ul{
      
      list-style: none;
      overflow: hidden;
    
    }

    .header ul a{
        
        text-decoration: none;
        padding: 20px;
        font-size: 14px;
        display: block;
      
       
        
    }

    .menu-btn{
        visibility: hidden;
    }

    .menu{
        display: flex;
        justify-content: flex-end;
        text-align: center;
    }

    .header .menu li a{
        color: white;
    }

    .header .menu li a:hover{
         background-color:#0F5959;
         font-weight: bold;
         border-radius: 10px;
    }

    .firstImage{
        width: 80%;
      }


    .content{
        
        background-color: #ede7dd;
        position: relative;
        top: 77px;
        padding-bottom: 20px;
        
    
    }

    .wrapper{
       
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
        background-color: rgba(15, 89, 89, 0.8);
        margin-bottom: 20px;
    }



    .first{
        margin-bottom: 20px;
        color: white;
        padding: 10px;
        text-align: center;
        
    }

    .content .wrapper .first img{
        border-radius: 100px;
        margin-top: 20px;
    }
   
    .bio{
        
        padding: 10px;
    }

    .bio h1, .bio h2{
        font-family: "Montserrat", sans-serif;
        font-size: 30px;

    }

    .content .wrapper .bio h1, h2{
        color: black ;
        
    }

    .bio p{
       margin-top:10px;
        text-align: left;
        color: #ede7dd;
        font-size: 14px;
        
        
    }

    .cv{
        padding-left: 20px;
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 20px;
        
    }

    .cv-h2, .skills-h2,  .name {
        text-align: center;
        margin: auto;
        color: black;
        font-family: "Montserrat" , sans-serif;
        font-size: 16px;
        font-weight: bold;
        border-bottom: 2px solid #0F5959;
        width: 30%;

    }

    

    .year{
        font-family: "Montserrat" , sans-serif;
        font-size: 17px;
        font-weight: bold;
        
    }

   

    .cv .section-1, .section-2, .section-3, .section-4, .section-5{
        border-radius: 50px;
        height: 100px;
        margin: 10px 5px 5px 5px;
        display: flex;
        justify-content: space-between;
        background-color: rgba(125,172,155, 0.8);
        overflow: hidden;
        padding: 30px;
        font-size: 15px;
        
    }

    .cv .section-5{
        width: 40%;
    }

    .cv .section-4{
        width: 50%;
    }

    .cv .section-3{
        width: 60%;
    }

    .cv .section-2{
        width: 70%;
    }

    .cv .section-1{
        width: 80%;
    }

    


    .skills{
        
        width: 50%;
        float: right;
        margin-bottom: 20px;
        margin-top: 20px;
        
        
    }

   .html, .css{
    
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(15, 89, 89, 0.7);
    font-size: 15px;
    color: #ede7dd;
   
   }

   .html{
   
    width: 50%;
    
    
   }

   .css{
   
    width: 70%;
   }

   footer{
    clear: both;
    background-color: black;
    display: flex;
    justify-content: space-around;
    margin-top: 75px;
    font-size: 14px;
    padding: 50px;
   }

   .footer-section a{
    color: #ede7dd;
    text-decoration: none;
    margin-bottom: 10px;
    
   }

   .footer-section a:hover{
    color: #0F5959;
   }

   .footer-section{
    display: flex;
    flex-direction: column;
    
   
   }
   
   .name{
    clear: both;
    border-bottom: 2px solid #0F5959;
    width: 30%;
    margin: auto;
   }

  

   
   .project{
    margin: 20px;
    display: flex;
    flex-direction: row;
    
    padding: 10px;
    
    
    

   }

   .item-1{
    
   
   width: 20%;
   height: auto;
   margin-right: 30px;
 
   }


   .item-1 img{
    width: 100%;
    border-top-left-radius: 500px;
   border-top-right-radius: 500px;
   border-bottom-left-radius: 50px;
   border-bottom-right-radius: 500px;

   
   }

   .item-2{
    
    padding: 10px;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
   
   }

   .item-2 a:link, .item-2 a:active{
    color: white;
   }



   .item-2 a:visited{
    color: #8edbc1;
   }

   .item-2 h3{
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
   }

   .item-2 p{
    font-family: "Michroma", sans-serif;
   }

   .contactPage{
    background-color: white;
    position: relative;
    top: 80px;
   }

   .contactSection{
    margin: auto;
    width: 70%;
    padding-top: 50px;
    padding-bottom: 20px;
    border-bottom: 2px solid #0F5959;
    text-align: center;
    
   }

   .formWrapper{
    padding: 20px;
   
    
   }

   form{
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
   }
   
   input[type=text], textarea {
    width: 100%;
    border: 1px solid #181818;
    border-radius: 20px;
    font-size: 14px;
    outline: none;
    padding: 10px;
    
    
   }

   input[type=text]:focus,
   textarea:focus {
    background-color: #ede7dd;
    border: 2px solid #D2D2D2;
  }

 
   
  

   form label{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 1em;
   }


    input[type=text]{
    height: 4em;
   }


   textarea{
    resize:none;
    height: 10em ;
   }

   input[type=submit]{
    width: 15em;
    height: 5em;
    background-color: #0F5959;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 1em;
    text-decoration: none;
    margin: 10px 2px;
    cursor: pointer;
   }

   input[type=submit]:hover{
    background-color: #8edbc1;
    font-weight: bold;
   }

   .infoContact{
    background-color: #ede7dd;
   }

   








}